<h1>all the tennis classes!</h1>

<table>
  <tr>
    <th>CLASS</th>
    <th>DATE</th>
    <th>TIME</th>
    <th>DURATION</th>
    <th></th>
  </tr>
  <% for tennis_class in @tennis_classes %>
  <tr>
    <td><%= tennis_class.name %></td>
    <td><%= tennis_class.class_date %></td>
    <td><%=tennis_class.class_time %></td>
    <td><%=tennis_class.class_duration %></td>
    <td><a href="/manager/classes/<%= tennis_class.id %>/edit">edit</a></td>
  </tr>
  <% end %>
</table>
